.alert
	+border-radius(3px)
	+basis-box-color($color-warning)

	margin-bottom: 15px
	padding: 10px 15px
	border:
		width: 1px
		style: solid
	font-size: 1em
	line-height: 120%
	text-align: center

	p
		margin: 0.5em 0

	.close
		float: right
		margin-top: 3px
		font-size: 15px
		text-decoration: none

.alert-success
	+basis-box-color($color-success)

.alert-error
	+basis-box-color($color-danger)

.alert-info
	+basis-box-color($color-info)

.alert-small
	padding: 5px 10px
	border-style: dotted
	font-size: 11px
