.block-message
  margin-bottom: 15px
  padding: 15px
  background: $color-light
  text-align: center

.block-alert
  padding: 30px 15px
  color: $color-info
  text-align: center

  &:before
    @extend .icon

    margin-bottom: 15px
    font-size: 60px

.block-alert-empty
  &:before
    content: '\f31d'
