.icon
  display: inline-block
  font:
    family: $font-icon !important
    style: normal
    weight: normal
    variant: normal
  line-height: 1
  text:
    transform: none
    rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  speak: none

.link
  color: $color-info
  text-decoration: none

  &:hover
    text-decoration: underline

.focus
  $color: $color-info
  +box-shadow(0 0 5px 1px rgba($color, 0.5))
  +transition(box-shadow 0.1s)

  border: 1px solid rgba($color, 0.5)
  outline: none

.field-text
  +appearance(none)
  +border-radius(0)
  +box-sizing(border-box)

  display: inline-block
  height: 35px
  padding: 0 10px
  border: 1px solid #ccc
  background:
    color: #fff
    image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 2px)
  font:
    weight: normal
    size: 1em
    family: $font-system

  &:focus
    @extend .focus

.field-select
  @extend .field-text

  width: 100%
  padding-right: 0
  cursor: pointer
  background:
    image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+')
    position: 100% center
    repeat: no-repeat

  &::-ms-expand
    display: none
