.filter-player-position
  display: inline-block
  overflow: hidden
  text-align: center

  .tag
    line-height: 20px

  li
    +opacity(0.3)
    +transition(all 0.1s)

    display: block
    float: left

    &.on
      +opacity(1)

    &:first-child
      .tag
        text:
          transform: uppercase
          decoration: none
