select
  @extend .field-select

.form
  legend
    display: none

  label
    display: block
    margin-bottom: 25px
    font-size: 1.2em

    &.check
      margin-bottom: 5px
      cursor: pointer
      font:
        size: 1em
        family: $font-system

      input
        margin-bottom: 0

    &.inline
      display: inline-block
      margin-right: 15px

    &.boxed
      padding-bottom: 10px
      border-bottom: 1px dotted $color-info
      color: $color-info

  .label
    margin-bottom: 10px
    font-size: 1.1em

  .checks
    margin-bottom: 15px

  input[type="radio"],
  input[type="checkbox"]
    margin-right: 5px

  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea
    @extend .field-text

    display: block
    width: 100%
    margin-top: 5px

  textarea
    height: 60px
    padding: 10px

  input[type="file"]
    +box-sizing(border-box)

    display: block
    margin-top: 10px
    border: none

  [readonly]
    background: #e9e9e9 !important

.form-box
  label
    margin-bottom: 0px

  input
    margin-bottom: 10px

  .action
    @extend .clearfix

    .helper
      float: left

      li
        a
          +transition(all 0.1s)

          color: $color-info
          font:
            size: 0.9em
            family: $font-custom-1
          text-decoration: none

          &:hover
            color: $color-info !important

    .button
      float: right
      font-weight: bold

.field-note,
.helptext
  clear: both
  display: block
  padding-top: 5px
  color: #666
  font-size: 0.8em

  &:before
    @extend .icon

    content: '\f142'
    margin-right: 5px

.field-loading
  background:
    // image: image-url('ajax-loader.gif') !important
    position: 97% 50% !important
    repeat: no-repeat !important

.field-amount
  input
    @extend .field-text

    display: block
    width: 60px
    margin: 0 auto 5px
    text-align: center

  a
    @extend .link

    display: none
    font-size: 0.9em

.field-counter
  display: block
  float: right
  margin-top: 3px
  color: $color-info
  font-size: 0.8em

  &:before
    @extend .icon

    content: '\f12c'
    margin-right: 3px

.field-large
  height: 50px !important
  padding: 0 15px !important
  font-size: 1.1em !important

.label-field-large-icon
  position: relative

  > span
    position: absolute
    left: 10px
    top: 15px
    color: #ccc
    font-size: 20px

  input
    padding-left: 35px !important

.field-merged
  @extend .clearfix

  input,
  button
    display: block
    float: left
    margin: 0 !important

  input
    width: 80% !important

  button
    width: 20% !important

