body
	position: relative
	background: #fff
	color: $color-dark
	font:
		size: 0.75em
		family: $font-system
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-rendering: auto

strong
	font-weight: bold

em
	font-style: italic

button
	cursor: pointer

[disabled]
	+opacity(0.5)

	cursor: default

*
	outline: 0 !important

+basis-selection($color-info, #fff)


.clear
	clear: both !important

.nowrap
	white-space: nowrap !important

.clearfix
	&:after
		content: ''
		display: table !important
		clear: both !important


.display-none
	display: none !important

.display-block
	display: block !important

.display-inline
	display: inline !important

.display-inline-block
	display: inline-block !important


.width-full
	width: 100% !important
.height-full
	height: 100% !important
+basis-property-range('width', '.width', 10, 1000, 5, 'px')
+basis-property-range('height', '.height', 10, 1000, 5, 'px')


.float-none
	float: none !important

.float-left
	float: left !important

.float-right
	float: right !important


+basis-property-range('margin', '.margin', 0, 0, 1, '')
+basis-property-range('margin-top', '.margin-top', 0, 100, 5, 'px')
+basis-property-range('margin-right', '.margin-right', 0, 100, 5, 'px')
+basis-property-range('margin-bottom', '.margin-bottom', 0, 100, 5, 'px')
+basis-property-range('margin-left', '.margin-left', 0, 100, 5, 'px')


+basis-background-color(transparent, 'transparent')
+basis-background-color(#000, 'black')
+basis-background-color(#fff, 'white')
+basis-background-color($color-warning, 'warning')
+basis-background-color($color-success, 'success')
+basis-background-color($color-danger, 'danger')
+basis-background-color($color-danger, 'danger')
+basis-background-color($color-info, 'info')


+basis-color(#000, 'black')
+basis-color(#fff, 'white')
+basis-color($color-light, 'light')
+basis-color($color-dark, 'dark')
+basis-color($color-warning, 'warning')
+basis-color($color-success, 'success')
+basis-color($color-danger, 'danger')
+basis-color($color-info, 'info')


.text-xlarge
	font-size: 1.4em !important

.text-large
	font-size: 1.2em !important

.text-small
	font-size: 0.9em !important

.text-xsmall
	font-size: 0.8em !important

.text-uppercase
	text-transform: uppercase !important

.align-left
	text-align: left !important

.align-right
	text-align: right !important

.align-center
	text-align: center !important

.align-justify
	text-align: justify !important


.separate
	margin-top: 10px
	padding-top: 10px
	border-top: 2px solid #ddd

