.global-header
  +box-shadow(0 2px 0 rgba(0, 0, 0, 0.1))
  +box-sizing(border-box)

  z-index: 900
  width: 100%
  height: 75px
  position: fixed
  left: 0
  top: 0
  padding: $main_gap
  background: $color-success
  color: #fff

  .global-logo
    a
      display: block
      width: 85px
      height: 85px
      position: absolute
      left: 0
      top: 5px
      background:
        image: image-url('logo.png')
        position: 0 0
        repeat: no-repeat
        size: 100% auto
      text-indent: -9999px

  .global-nav
    @extend .clearfix
    +border-radius(3px)

    position: absolute
    right: 15px
    top: 19px

    button
      height: 35px
      float: left
      padding: 0 5px
      border: none
      background: none
      color: #fff
      font-size: 30px
      line-height: 35px

      &.action-setup
        @extend .icon-gear-a

      &.action-reload
        @extend .icon-refresh

    select
      width: 130px
      float: left
      margin-left: 10px

.global-footer
  @extend .clearfix

  z-index: 1
  position: relative
  padding: $main_gap
  text-align: center

  .go-top
    $size: 35px

    text-align: center

    &:before
      @extend .icon
      +border-radius($size)
      +box-sizing(border-box)

      content: '\f126'
      width: $size
      height: $size
      background: #ddd
      color: #fff
      font-size: 15px
      line-height: $size
      text-decoration: none

  .copyright
    margin-top: 15px
    // color: #666
    font-size: 0.9em
    line-height: 160%

.global-content
  +box-sizing(border-box)

  z-index: 1
  min-height: 100px
  position: relative
  margin: 80px 0 15px
  padding: $main_gap

  .global-viewer
    header
      margin-bottom: 15px
      text-align: center

      .heading-main
        margin-top: 5px
        font:
          weight: bold
          size: 1.7em
        letter-spacing: -1px
        line-height: 100%

      .heading-sub
        margin: 10px 0
        font:
          weight: normal
          size: 1.3em
        line-height: 100%

  .global-loader
    display: none
    padding: 30px 0
    color: $color-info
    text-align: center

    &:before
      @extend .icon-loading-c

      font-size: 40px

    .text
      padding-top: 10px
      font-size: 1.3em

    .action
      margin-top: 15px

  .global-error
    display: none

    button
      margin-top: 15px

