.list-headbox
  display: inline-block
  border: 1px solid $color-light
  color: $color-info
  font-size: 0.9em
  text-transform: uppercase
  white-space: nowrap

  li
    display: inline-block
    float: left
    padding: 0 8px
    border-left: 1px solid $color-light
    line-height: 30px

    &:first-child
      border: none

    &.highlight
      font:
        weight: bold
        size: 1.9em

.list-playerbox
  display: inline-block
  margin-top: 10px
  font-size: 0.8em

  li
    display: inline-block
    float: left
    padding: 0 5px
    border-left: 1px solid $color-light
    line-height: 15px

    &:first-child
      border: none
