.table
  display: table
  width: 100%
  font-size: 0.9em

  th
    border-bottom: 1px solid $color-info
    background: #fff
    color: $color-info
    font-weight: bold
    text-transform: uppercase

  th,
  td
    padding: 8px
    line-height: 130%

  tr
    +transition(all 0.1s)

    border-bottom: 1px solid #eee

    &:last-child
      border: none

    &[data-view-team]
      cursor: pointer

      &:active
        background: #f8f8f8

.table-ranking
  tr
    td
      .position
        $size: 30px
        +border-radius($size)
        +box-sizing(border-box)

        display: inline-block
        width: $size
        height: $size
        position: relative
        background: $color-info
        color: #fff
        font-weight: bold
        line-height: $size
        text-align: center

        .variation
          position: absolute
          left: $size + 4px
          top: 0
          font-size: 0.8em
          white-space: nowrap

          &:after
            @extend .icon

            margin-left: 2px

          &.up
            color: $color-success

            &:after
              content: '\f10e'

          &.down
            color: $color-danger

            &:after
              content: '\f105'

    &:first-child
      color: $color-success

      td
        &:first-child
          .position
            background: $color-success

            &:after
              @extend .icon

              content: '\f356'
              position: absolute
              left: -17px
              top: 0
              color: $color-warning
              font-size: 30px

.data-score
  color: #888
  font-weight: bold

  &:before
    @extend .icon

    margin-right: 4px

  &.up
    color: $color-success

    &:before
      content: '\f216'

  &.down
    color: $color-danger

    &:before
      content: '\f207'

  &.zero
    color: $color-warning

    &:before
      content: '\f120'

  &.null
    &:before
      content: '\f20b'
