.tag
  display: inline-block
  padding: 5px
  background: #999
  color: #fff
  font:
    weight: bold
    size: 0.9em
  line-height: 100%

.tag-position
  width: 30px
  text-transform: uppercase
  text-decoration: none
  text-align: center

.tag-position-1,
.tag-position-gol
  background: #ffb351

.tag-position-2,
.tag-position-lat
  background: #00cde9

.tag-position-3,
.tag-position-zag
  background: #a186f2

.tag-position-4,
.tag-position-mei
  background: #00be81

.tag-position-5,
.tag-position-ata
  background: #ff7c7c

.tag-position-6,
.tag-position-tec
  background: #999
