<div class="block-message">
  <button class="action-partial-players button width-220">Ver jogadores</button>
  <div class="text text-small margin-top-15">
    <p>Exibe as parciais dos jogadores.</p>
  </div>
</div>

<div class="block-message">
  <button class="action-partial-round button width-220">Ver times</button>
  <div class="text text-small margin-top-15">
    <p>
      Exibe as parciais dos <strong><span class="league-team-total"></span> times</strong> da liga.<br>
      Leva mais tempo para carregar as informações...
    </p>
  </div>
</div>

<div class="block-message">
  <select class="action-team-select width-220">
    <option value="" disabled selected>Ver time</option>
  </select>
  <div class="text text-small margin-top-15">
    <p>Exibe a parcial e os detalhes do time selecionado.</p>
  </div>
</div>
