<header>
  <h2 class="heading-main">Parciais dos jogadores</h2>
  <div class="margin-top-15">
    <ul class="filter-player-position">
      <li><a href="#0" class="tag">Todos</a></li>
      <li><a href="#1" class="tag tag-position tag-position-gol">gol</a></li>
      <li><a href="#2" class="tag tag-position tag-position-lat">lat</a></li>
      <li><a href="#3" class="tag tag-position tag-position-zag">zag</a></li>
      <li><a href="#4" class="tag tag-position tag-position-mei">mei</a></li>
      <li><a href="#5" class="tag tag-position tag-position-ata">ata</a></li>
      <li><a href="#6" class="tag tag-position tag-position-tec">tec</a></li>
    </ul>
  </div>
</header>

<div class="main-content">
  <table class="table">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>
