<header>
  <div class="block-message margin-bottom-15">
    <select class="action-team-select width-220">
      <option value="" disabled selected>Ver time</option>
    </select>
  </div>
</header>

<table class="table">
  <thead></thead>
  <tbody></tbody>
</table>
